body{
max-width: 1440px;
max-height: 1400px;
}

a {
text-decoration: none;
color: #3A5F56;
}

header {
max-width: 1440px;
height: 70px;
display:grid;
}

.img{
grid-area: img;
height: 30px;
width: 113px;
left: 16px;
top: 10px;
border-radius: 0px;

}
.menu {
display: grid;
grid-template-areas: "img menu-1 menu-2 menu-3 menu-4 menu-5 input";
grid-template-columns: 136px 696px repeat(5, 56px) 122px;
gap: 2px;
justify-content: center
}


.menu-1 {
list-style-type: none;
display: grid;
grid-area: menu-1;
grid-column: 3/4;
}

.menu-2 {
list-style-type: none;
display: grid;
grid-area: menu-2;
grid-column: 4/5;
}

.menu-3{
list-style-type: none;
grid-area: menu-3;
grid-column: 5/6;
}
.menu-4{
list-style-type: none;
grid-area: menu-4;
grid-column: 6/7;
}

.menu-5{
list-style-type: none;
grid-area: menu-5;
grid-column: 7/8;
}

.input {
display: grid;
grid-column: 8/9;
grid-area: input;
background: url(/assets/images/header-cart-logo.svg) no-repeat;
background: url(/assets/images/cart-frame.svg);
width: 122px;
height: 44px;
left: 75%;
right: 0%;
top: 3px;
background: #3A5F56;
border-radius: 6px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
margin-left: 20px;
margin-right: 137px;
}

.main{
display: grid;
grid-template-areas: section-1 portrait;
grid-template-columns:1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
grid-column: 1/3;
grid-row: 1/4;
width: 1440px;
height: 973px;
left: 0%;
right: 0%;
top: 70px;
background: #F4F3F0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px;
}

.section-1 {
display: grid;
grid-area:section-1;
grid-template-areas: "article text input-2";
grid-column: 1/3;
}

.artcile{
display: grid;
grid-area: article;
grid-column: 1/3;
grid-row: 1/4;
}

h2{
display: grid;
width: 477px;
height: 116px;
font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
color: #3A5F56;
margin-left: 136px;
margin-top: 336px;
margin-bottom: 11px;
margin-right: 137px;
}

.text {
display: grid;
width: 534px;
height: 112px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #292C32;
margin-left: 136px;
margin-top: 11px;
margin-bottom:17px;
margin-right: 80px;
}

.input-2{
display:grid;
grid-area: input-2;
grid-column: 1/2;
grid-row: 2/3;
width: 118px;
height: 44px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
background: #3A5F56;
margin-top: 10px;
margin-left: 145px;
margin-bottom: 343px;
margin-right: 487px;
border-radius: 6px;
}

.portrait{
display: grid;
grid-area: portrait;
justify-content: start;
align-content: stretch;
width:552px;
height:773px;
filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
border-radius: 24px;
margin-left: 62px;
margin-top: 100px;
margin-right: 138px;
margin-bottom: 100px;
}


.container-services {
display: flex;
justify-content: center;
width: 1440px;
top: 1043px;
background: #F4F3F0;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
border-radius: 16px;
}

.services{
width: 600px;
margin-left: 300px;
border-radius: 0px;
margin-right: 300px;
}

.img-services {
width: 160px;
height: 19px;
}

h3{
width: 121px;
height: 39px;
font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
text-align: center;
color: #3A5F56;
}

.p-services {
width: 591px;
height: 68px;
top: 83.53px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

text-align: center;
color: #292C32;
}

.wrapper-services {
display: grid;
width: 1168px;
height: 922px;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
gap: 5px;
margin-top: 40px;
margin-bottom: 100px;
margin-left: 136px;
margin-right: 136px;
background: radial-gradient(50% 50% at 50% 50%, rgba(58, 95, 86, 0.376) 0%, rgba(58, 95, 86, 0) 100%);
}

.wedding-photography, .sports-photography,.portrait-photography, .architecture-photography,.animal-photography, .food-photography, .nature-photography{
background: #F4F3F0;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
border-radius: 16px;

}

.wedding-icon, .sports-icon, .portrait-icon, .architecture-icon, .animal-icon, .food-icon, .nature-icon {
width: 48px;
height: 48px;
left: 7.92%;
right: 79.42%;
top: 30px;
}

h4{
font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #3A5F56;
}

.p-wedding, .p-sports, .p-portrait, .p-architecture, .p-animal, .p-food, .p-nature {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #292C32;
}

.container-preset {
display: flex;
justify-content: center;
width: 1440px;
background: #F4F3F0;
}

.preset-store {
width: 600px;
margin-left: 300px;
border-radius: 0px;
margin-right: 300px;

}

.wrapper-preset-pack {
display: grid;
width: 1200px;
height: 439px;
grid-template-columns: repeat(3, 1fr);
gap: 5px;
margin-top: 40px;
margin-bottom: 152px;
margin-left: 136px;
margin-right: 136px;
background: radial-gradient(50% 50% at 50% 50%, rgba(219, 52, 59, 0.296) 0%, rgba(219, 52, 59, 0) 100%);
}

.h5-preset {
width: 176px;
height: 39px;
left: calc(50% - 176px/2);
top: 33.53px;
font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
text-align: center;
color: #DB343B;
}

.p-preset {
width: 591px;
height: 68px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #292C32;
}

.h5-mirro-pack {
height: 34px;
left: 7.92%;
right: 16.81%;
top: 29.09px;

font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
color: #3A5F56;
}

.p-preset-pack {
height: 90px;
left: 7.92%;
right: 8.36%;
top: 69.09px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #3A5F56;
}


.p-link-preset{
text-align: center;
}

.link-preset {
grid-column: 2/3;

}

.link-preset-store {
height: 23px;
width: 121px;
color: #3A5F56;
}

.work-together {
display: grid;
width: 800px;
height: 259px;
grid-template-columns: 1fr 1fr;
gap: 200px;
margin-left: 500px;
background: #F4F3F0;
border-radius: 16px;
}

.contact-button {
background: #3A5F56;
border-radius: 6px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
}

footer {
background-color: #292C32;
}

.footer-menu-link, .footer-menu-item-1, .footer-menu-item-2, .footer-menu-item-3,.footer-menu-item-4, .footer-menu-item-5,.footer-menu-item-6, .footer-menu-form {
list-style-type: none;

}

.footer-item {
display: grid;
}

.footer-logo {
display: flex;
justify-content: center;
}

.img-footer-logo {
display: flex;
}

.footer-nav {
display: grid;
width: 1000px;
height: 410px;
}

.footer-navigation {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr 1fr;
}

.wrapper-footer {
background: #292C32;
border-radius: 0px;
}

.footer-menu-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 3px;
text-transform: uppercase;
color: #B87D58;
}

.footer-navigation {
display: grid;
}

.footer-link {
text-decoration: none;
color: #FFFFFF;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}

.footer-menu-pages {
display: grid;
}

.footer-menu-preset-packs {
display: grid;
grid-column: 2/3;
grid-row: 1/2;
}

.footer-menu-utility-pages {
display: grid;
grid-column: 3/4;
grid-row: 1/2;
}

.footer-menu-newsletter {
display: grid;
grid-column: 4/5;
grid-row: 1/2;
}

.footer-menu-store-categories {
display: grid;
grid-column: 1/2;
grid-row: 2/3;
}

.footer-menu-business-areas {
display: grid;
grid-column: 2/3;
grid-row: 2/3;
}


.submit {
height: 30px;
background-color: #292C32;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #FAFAFC;
}

.newsletter-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #FAFAFC;
}

.input-newsletter-subscribe {
width: 300px;
background: #F9FAFB;
border: 1px solid #E5E7EB;
border-radius: 8px;
}

.newsletter-subscribe {
width: 458px;
height: 53px;
}

.footer-social-media {
display: grid;
grid-column: 1/2;
}

.footer-info {
display: grid;
color: #FFFFFF;
grid-row: 1/1;
}

.social-media {
display: grid;
grid-column: 2;
}

.ul-social-media-icons {
list-style-type: none;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}






@media screen and (max-width: 480px) {

.header{
    max-width: 480px;
    height: 70px;
    display: grid;
}

.menu {
display: inline;
}

.menu-1, .menu-2, .menu-3, .menu-4, .menu-5 {
    font-size: 12px;
}
    .img {
        grid-area: img;
        height: 30px;
        width: 113px;
        left: 16px;
        top: 10px;
        border-radius: 0px;}

.input {
width: 84px;
height: 25px;
margin-left: 0px;
font-size: 12px;
}

h2 {
    margin-left: 0px;
    margin-top: 82px;
    font-size: 12px;
}

.text {
    display: grid;
    width: 416px;
    height: 151px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #292C32;
    margin-top: -80px;
    margin-bottom: -28px;
    margin-left: 0px;
}

.input-2 {
width: 103px;
height: 32px;
font-size: 12px;
margin-left: 0px;
}

.main {
    max-width: 480px;
    height: 638px;
}

.img-portrait {
    border-style: none;
    width: 141px;
    margin-top: -169px;
    margin-left: 150px;}

.section-1 {
    display: grid;
    grid-column: 1/3;
}

.container-services {
    display: flex;
    max-width: 480px;
    top: 1043px;
    background: #F4F3F0;
    box-shadow: 0px 3px 15px rgb(0 0 0 / 3%);
    border-radius: 16px;
}

.img-services {
    width: 96px;}

.services {
    max-width: 480px;
    margin-top: -329px;
}

h3 {
    font-size: 14px;
}

.p-services {
    max-width: 480px;
    height: 68px;
    margin-left: -5px;
    font-size: 14px;
}

.wrapper-services {
    display: grid;
    max-width: 480px;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    margin-top: -172px;
    margin-left: 0px;
    margin-bottom: 258px;

}
.wedding-icon, .sports-icon, .portrait-icon, .architecture-icon, .animal-icon, .food-icon, .nature-icon {
    width: 24px;
}


h4 {
font-size: 14px;
}

.p-wedding, .p-sports, .p-portrait, .p-architecture, .p-animal, .p-food, .p-nature {
    font-size: 14px;
}

a {
    font-size: 14px;
}

.container-preset {
max-width: 480px;
}

.img-preset {
    height: 12px;
    margin-top: 77px;
    margin-left: 4px;
    width: 96px;
}

.h5-preset {
    font-size: 14px;
    margin-top: -4px;
    margin-left: -48px;
}

.preset-store {
    max-width: 480px;}

.p-preset {
    max-width: 480px;
    font-size: 14px;
    margin-top: -25px;
}

.wrapper-preset-pack {
    max-width: 480px;
    margin-top: 0px;
    margin-left: 0px;
}

.preset-01, .preset-02, .preset-03 {
    max-width: 150px;
}

.h5-mirro-pack {
    font-size: 14px;
    margin-top: 0px;
}

.p-preset-pack {
    font-size: 14px;
    margin-top: 0px;
    margin-top: -23px;
}

.p-link-preset {
    font-size: 14px;
    margin-left: -384px;
    margin-top: -51px;
}

.work-together {
    max-width: 480px;
    margin-top: -324px;
}

.footer {
    max-width: 480px;
}
.wrapper-footer{
    max-width: 480px;
    margin-top: -199px;
}

.footer-navigation {
    margin-left: -30px;
}

.footer-nav {
    max-width: 480px;
    margin-top: -33px;
}

.footer-logo {
    display: flex;
    justify-content: flex-start;
}

.img-footer-logo {
    display: flex;
    max-width: 78px;
}

.footer-menu-title {
    letter-spacing: 0px;
    margin-bottom: 0px;
    font-size: 12px;
}

.footer-link {
font-size: 12px;
}

.newsletter-text {
    font-size: 12px;
    max-width: 100px;
}

.footer-menu-newsletter {
    grid-column: 3/4;
    grid-row: 2/2;
    margin-top: 16px;
    max-width: 480px;
}

.input-newsletter-subscribe {
max-width: 100px;
}
.submit {
    font-size: 12px;
}

.footer-social-media {
    margin-top: -106px;
    font-size: 12px;
}

.facebook, .instagram, .twitter {
    height: 15px;
}

.ul-social-media-icons {
justify-content: center;
}

.social-media {
    margin-left: -86px;
}
}