body {
    display: grid;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
}

.wrapper-1 {
    width: 100%;
    height: 100%;
background-color: rgb(41, 207, 41);
}

.img-wrapper-1, .img-wrapper-2, .img-wrapper-3, .img-wrapper-4, .img-wrapper-5, .img-wrapper-6 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper-2 {
    width: 100%;
    height: 100%;
background-color:yellow;
}

.wrapper-3 {
    width: 100%;
    height: 100%;
background-color: aqua;
}

.wrapper-4 {
    width: 100%;
    height: 100%;
background-color: blueviolet;
}
.wrapper-5 {
    width: 100%;
    height: 100%;
background-color: aquamarine;
}
.wrapper-6 {
    width: 100%;
    height: 100%;
background-color:chocolate;
}


